{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="row">
<div class="col-lg-6">
<h1>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</h1>
<form action="" method="post">
{% csrf_token %}
{{ wizard.management_form }}
{% for field in wizard.form %}
<div class="form-group">
<label class="control-label" for="id_{{ form.prefix }}-{{ field.name }}">{{ field.label }}</label>
{{ field }}
</div>
{% endfor %}
{% if wizard.steps.prev %}
<button class="btn btn-default" name="wizard_goto_step" type="button" value="{{ wizard.steps.prev }}">Previous</button>
{% endif %}
{% if wizard.steps.next %}
<button type="submit" class="btn btn-primary">Next</button>
{% else %}
<button type="submit" class="btn btn-primary">Submit</button>
{% endif %}
{% endblock %}